::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #07000f;
}
::-webkit-scrollbar-thumb {
    background: #f5f5f5;
    border-radius: 10px;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: "onely_sans";
    src: url(../../assets/fonts/onely_sans/OnelySans.otf);
}
body{
    font-family: 'Open Sans', sans-serif;
    background-color: #07000f;
    color: #f5f5f5;
    overflow-x: hidden;
}
.header{
    background-color: #ff6bce00;
}
.navbar{
    border-bottom: 1px solid #6b6bff2d;
    background-color: #07000f;
    padding: 0.5rem 2rem;
    display: grid;
    grid-template-areas: "title links1 links2";
    grid-template-columns: auto 1fr auto;
    position: fixed;
    top: 0;
    width: 100%;
}
.navbar-title{
    grid-area: "title";
    font-family: "onely_sans";
    font-size: 2rem;
    font-weight: lighter;
    color: #f5f5f5;
    display: flex;
    justify-content: center;
    justify-items: center;
}
.navbar-links-1{
    grid-area: "links1";
    padding: 0 2rem;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background-color: rgba(0, 255, 255, 0);
}
.navbar-list-1{
    background-color: rgba(43, 255, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 2rem;
}
.navbar-list-1-a{
    text-decoration: none;
    color: #f5f5f581;
    font-size: 1rem;
    font-weight: lighter;
}
.navbar-list-1-a:hover{
    color: #f5f5f5;
    transition: all 0.2s ease-in-out;
}
.navbar-links-2{
    grid-area: "links2";
    padding: 0 2rem;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background-color: rgba(0, 255, 255, 0);
}
.navbar-list-2{
    background-color: rgba(43, 255, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 1rem;
}
.navbar-list-2-a{
    text-decoration: none;
    color: #f5f5f581;
    font-size: 1rem;
    font-weight: lighter;
}
.navbar-list-2-a:hover{
    color: #f5f5f5;
    transition: all 0.2s ease-in-out;
}
.register-bttn{
    background-color: #52fac2;
    color: #000;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
.register-bttn:hover{
    background-color: #6b6bff;   
    color: #f5f5f5; 
    transition: all 0.2s ease-in-out;
}
.main{

}
.main-title{
    font-family: "onely_sans";
    font-size: 10rem;
    font-weight: lighter;
    text-align: center;
    color: #f5f5f5;
    margin-top: 10rem;
    background: linear-gradient(90deg, #52fac2, #f5f5f5, #6b6bff);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: lava-animation 3s infinite;
}
.main-subtitle{
    font-family: "onely_sans";
    font-size: 1.5rem;
    font-weight: lighter;
    text-align: center;
}

@keyframes lava-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.converter-options{
    display: grid;
    grid-template-areas: "option1 option2 option3 option4 option5"
                        "option6 option7 option8 option9 option10"
                        "option11 option12 option13 option14 option15"
                        "option16 option17 option18 option19 option20"
                        "option21 option22 option23 option24 option25";
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem 4rem;
    margin-top: 10rem;
}

.converter-option-1{
    grid-area: option1;
    border: 1px solid #f5f5f528;
    border-radius: 10px;
    padding: 2rem 2rem 1rem 2rem;
    background-color: #6b6bff1a;
}
.converter-option-1:hover{
    border: 1px solid #f5f5f5;
    transition: all 0.2s ease-in-out;
}

.converter-option-2{
    grid-area: option2;
    border: 1px solid #f5f5f528;
    border-radius: 10px;
    padding: 2rem 2rem 1rem 2rem;
    background-color: #6b6bff1a;
}
.converter-option-2:hover{
    border: 1px solid #f5f5f5;
    transition: all 0.2s ease-in-out;
}

.converter-option-3{
    grid-area: option3;
    border: 1px solid #f5f5f528;
    border-radius: 10px;
    padding: 2rem 2rem 1rem 2rem;
    background-color: #6b6bff1a;
}
.converter-option-3:hover{
    border: 1px solid #f5f5f5;
    transition: all 0.2s ease-in-out;
}

.converter-option-4{
    grid-area: option4;
    border: 1px solid #f5f5f528;
    border-radius: 10px;
    padding: 2rem 2rem 1rem 2rem;
    background-color: #6b6bff1a;
}
.converter-option-4:hover{
    border: 1px solid #f5f5f5;
    transition: all 0.2s ease-in-out;
}

.converter-option-5{
    grid-area: option5;
    border: 1px solid #f5f5f528;
    border-radius: 10px;
    padding: 2rem 2rem 1rem 2rem;
    background-color: #6b6bff1a;
}
.converter-option-5:hover{
    border: 1px solid #f5f5f5;
    transition: all 0.2s ease-in-out;
}
.converter-option-6{
    grid-area: option6;
    border: 1px solid #f5f5f528;
    border-radius: 10px;
    padding: 2rem 2rem 1rem 2rem;
    background-color: #6b6bff1a;
}
.converter-option-6:hover{
    border: 1px solid #f5f5f5;
    transition: all 0.2s ease-in-out;
}
.converter-option-7{
    border: 1px solid #f5f5f528;
    border-radius: 10px;
    padding: 2rem 2rem 1rem 2rem;
    background-color: #6b6bff1a;
}
.converter-option-7:hover{
    border: 1px solid #f5f5f5;
    transition: all 0.2s ease-in-out;
}
.converter-option-8{
    border: 1px solid #f5f5f528;
    border-radius: 10px;
    padding: 1rem;
    background-color: #6b6bff1a;
}
.converter-option-8:hover{
    border: 1px solid #f5f5f5;
    transition: all 0.2s ease-in-out;
}
.converter-option-9{
    border: 1px solid #f5f5f528;
    border-radius: 10px;
    padding: 1rem;
    background-color: #6b6bff1a;
}
.converter-option-9:hover{
    border: 1px solid #f5f5f5;
    transition: all 0.2s ease-in-out;
}
.converter-option-10{
    border: 1px solid #f5f5f528;
    border-radius: 10px;
    padding: 1rem;
    background-color: #6b6bff1a;
}
.converter-option-10:hover{
    border: 1px solid #f5f5f5;
    transition: all 0.2s ease-in-out;
}
.converter-option-11{
    border: 1px solid #f5f5f528;
    border-radius: 10px;
    padding: 1rem;
    background-color: #6b6bff1a;
}
.converter-option-11:hover{
    border: 1px solid #f5f5f5;
    transition: all 0.2s ease-in-out;
}
.converter-option-12{
    border: 1px solid #f5f5f528;
    border-radius: 10px;
    padding: 1rem;
    background-color: #6b6bff1a;
}
.converter-option-12:hover{
    border: 1px solid #f5f5f5;
    transition: all 0.2s ease-in-out;
}
.converter-option-13{
    border: 1px solid #f5f5f528;
    border-radius: 10px;
    padding: 1rem;
    background-color: #6b6bff1a;
}
.converter-option-13:hover{
    border: 1px solid #f5f5f5;
    transition: all 0.2s ease-in-out;
}
.converter-option-14{
    border: 1px solid #f5f5f528;
    border-radius: 10px;
    padding: 1rem;
    background-color: #6b6bff1a;
}
.converter-option-14:hover{
    border: 1px solid #f5f5f5;
    transition: all 0.2s ease-in-out;
}
.converter-option-15{
    border: 1px solid #f5f5f528;
    border-radius: 10px;
    padding: 1rem;
    background-color: #6b6bff1a;
}
.converter-option-15:hover{
    border: 1px solid #f5f5f5;
    transition: all 0.2s ease-in-out;
}
.converter-option-16{
    border: 1px solid #f5f5f528;
    border-radius: 10px;
    padding: 1rem;
    background-color: #6b6bff1a;
}
.converter-option-16:hover{
    border: 1px solid #f5f5f5;
    transition: all 0.2s ease-in-out;
}
.converter-option-17{
    border: 1px solid #f5f5f528;
    border-radius: 10px;
    padding: 1rem;
    background-color: #6b6bff1a;
}
.converter-option-17:hover{
    border: 1px solid #f5f5f5;
    transition: all 0.2s ease-in-out;
}
.converter-option-18{
    border: 1px solid #f5f5f528;
    border-radius: 10px;
    padding: 1rem;
    background-color: #6b6bff1a;
}
.converter-option-18:hover{
    border: 1px solid #f5f5f5;
    transition: all 0.2s ease-in-out;
}
.converter-option-19{
    border: 1px solid #f5f5f528;
    border-radius: 10px;
    padding: 1rem;
    background-color: #6b6bff1a;
}
.converter-option-19:hover{
    border: 1px solid #f5f5f5;
    transition: all 0.2s ease-in-out;
}
.converter-option-20{
    border: 1px solid #f5f5f528;
    border-radius: 10px;
    padding: 1rem;
    background-color: #6b6bff1a;
}
.converter-option-20:hover{
    border: 1px solid #f5f5f5;
    transition: all 0.2s ease-in-out;
}
.converter-option-21{
    border: 1px solid #f5f5f528;
    border-radius: 10px;
    padding: 1rem;
    background-color: #6b6bff1a;
}
.converter-option-21:hover{
    border: 1px solid #f5f5f5;
    transition: all 0.2s ease-in-out;
}
.converter-option-22{
    border: 1px solid #f5f5f528;
    border-radius: 10px;
    padding: 1rem;
    background-color: #6b6bff1a;
}
.converter-option-22:hover{
    border: 1px solid #f5f5f5;
    transition: all 0.2s ease-in-out;
}
.converter-option-23{
    border: 1px solid #f5f5f528;
    border-radius: 10px;
    padding: 1rem;
    background-color: #6b6bff1a;
}
.converter-option-23:hover{
    border: 1px solid #f5f5f5;
    transition: all 0.2s ease-in-out;
}
.converter-option-24{
    border: 1px solid #f5f5f528;
    border-radius: 10px;
    padding: 1rem;
    background-color: #6b6bff1a;
}
.converter-option-24:hover{
    border: 1px solid #f5f5f5;
    transition: all 0.2s ease-in-out;
}
.converter-option-25{
    border: 1px solid #f5f5f528;
    border-radius: 10px;
    padding: 1rem;
    background-color: #6b6bff1a;
}
.converter-option-25:hover{
    border: 1px solid #f5f5f5;
    transition: all 0.2s ease-in-out;
}


.converter-option-title{
    font-family: "onely_sans";
    font-size: 1.5rem;
    font-weight: lighter;
}
.word-logo{
    width: 3rem;
    height: 3rem;
}
.pdf-logo{
    width: 3rem;
    height: 3rem;
}
.jpg-logo{
    width: 3rem;
    height: 3rem;
}
.powerpoint-logo{
    width: 3rem;
    height: 3rem;
}
.excel-logo{
    width: 3rem;
    height: 3rem;
}
.try-it-bttn{
    margin: 3rem auto 0 auto;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    color: #000;
    padding: 1rem;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
}
.try-it-bttn:hover{
    background-color: #6b6bff;   
    color: #f5f5f5; 
    transition: all 0.2s ease-in-out;
}
.footer {
    padding: 3rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    border-top: 1px solid #6b6bff2d;
    border-radius: 3rem 3rem 0 0;
}