html{
    scroll-behavior: smooth;
}
:root{
    --color-primary: #3498db;
    --color-secondary: #2ecc71;
    --color-accent: #e74c3c;
    --color-background: #12052b;
    --color-links: #2c3e50;
    --color-text: #f5f5f5;
    --color-subtitle: #a8adb1;
}
@font-face{
    font-family: 'title-font';
    src: url('../assets/fonts/metch_bright/Metch\ Bright\ Personal\ Use\ Only.ttf');
}
::-webkit-scrollbar{
    width: 8px;
    background-color: var(--color-text);
}
::-webkit-scrollbar-thumb{
    background-color: var(--color-secondary);
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--color-secondary);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
body{
    background-color: var(--color-text);
    color: var(--color-text);
    font-family: Arial, Helvetica, sans-serif;

}

.header{
    background-color: var(--color-text);
    color: var(--color-background);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.indice{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
        "title"
        "indice1"
        "indice2"
        "indice3";
    gap: 20px;
    width: 100vw;
    justify-content: center;
    align-items: center;
    padding: 20px 5px;
}
.indice-title{
    grid-area: title;
    font-size: 3em;
    font-weight: lighter;
    text-align: center;
    color: var(--color-background);
    width: 100vw;
    padding: 10px;
    font-family: "title-font", sans-serif;
    letter-spacing: 2px;
}
.indice2, .indice3{
    grid-area: indice2;
    background-color: rgba(153, 205, 50, 0);
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}
.indice3{
    grid-area: indice3;
    background-color: #cd34db00;
}
.item-indice{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2px;
    margin-bottom: 2px;
    border-radius: 20px;
    transition: all 0.1s ease-in-out;
}
.item-indice:hover{
    transform: scale(1.05);
}
.link-indice{
    text-decoration: none;
    color: var(--color-links);
    font-weight: lighter;
    padding: 10px;
}
.link-indice:hover{
    color: var(--color-secondary);
}

.main{
    background-color: var(--color-background);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto)
        "title"
        "about1"
        "about2"
        "about3";
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-height: 100vh;
    border-radius: 20px;
}
.about-section1{
    grid-area: about1;
    justify-content: center;
    align-items: center;
}
.main-title{
    font-size: 2em;
    font-weight: lighter;
    text-align: center;
    color: var(--color-text);
    margin-bottom: 10px;
    font-family: "title-font", sans-serif;
    letter-spacing: 2px;
}
.about-img{
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    margin-bottom: 20px;
    margin: 10px 0 20px 0;
}
.main-subtitle{
    font-size: 1.5em;
    font-weight: lighter;
    text-align: center;
    color: var(--color-subtitle);
    margin-bottom: 10px;
    font-family: "title-font", sans-serif;
}