*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    overflow-x: hidden;
    scroll-behavior: smooth;
}


body{
    /*background-color: #7d7dfc;*/
    background-color: #f5f5f5;
    display: grid;
    grid-template-columns: auto;
    scroll-behavior: smooth;
}

.header{
    padding: 2rem;
}
.indice{
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:"title"
                        "indice2"
                        "indice3"
                        "indice1";
    justify-content: center;
    color: rgb(104, 104, 104);
}
.indice-title{
    grid-area: title;
    margin-bottom: 3rem;
    text-align: center;
}
.indice-title h1{
    color: #000000;
    font-size: 2rem;
    font-weight: bold;
}
.indice1{
    grid-area: indice1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    border: 1px solid rgba(39, 39, 39, 0);
    border-radius: 10px;
    padding: 2rem 1rem;
    width: 100%;
}
.indice1:hover{
    border: 1px solid rgba(0, 0, 0, 0.336);
    transition: 0.2s;
    
}
.indice2{
    grid-area: indice2;
    display: flex;
    flex-direction: column;
    justify-content: start;
    border: 1px solid rgba(39, 39, 39, 0);
    border-radius: 10px;
    padding: 2rem 1rem;
    width: 100%;
}
.indice2:hover{
    border: 1px solid rgba(0, 0, 0, 0.336);
    transition: 0.2s;
}
.indice3{
    grid-area: indice3;
    display: flex;
    flex-direction: column;
    justify-content: start;
    border: 1px solid rgba(39, 39, 39, 0);
    border-radius: 10px;
    padding: 2rem 1rem;
    width: 100%;
}
.indice3:hover{
    border: 1px solid rgba(0, 0, 0, 0.336);
    transition: 0.2s;
}
.incide-subtitles{
    margin: 0 auto;
    color: black;
    text-align: center;
}
.list-items-indice{
    display: flex;
    flex-direction: column;
}
.item-indice{
    list-style: none;
    margin: 1rem auto;
}
.link-indice{
    color: rgb(53, 53, 53);
    text-decoration: none;
}
.link-indice:hover{
    color: rgb(76, 255, 195);
    text-decoration: none;
}

.main{
    display: grid;
    background-color:black;
    padding: 2rem;   
    width: 100vw;
    min-height: 200vh;
    margin: 0 auto;
    z-index: 0;
}
.about-section{
    display: grid;
    grid-template-areas:
    "about-section1 about-section1"
    "about-section2 about-section3";
    grid-template-columns: 50%;
    padding: 4rem;
}
.about-section1{
    grid-area: about-section1;
    background-color: rgba(0, 255, 255, 0);
    display: flex;
    flex-direction: column;
    margin-bottom: 7rem;
}
.about-section2{
    grid-area: about-section2;
    padding: 0;
    background-color: rgba(23, 170, 170, 0);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.about-section3{
    grid-area: about-section3;
    padding: 7rem 7rem 7rem 0;
    background-color: rgba(170, 23, 126, 0);
    display: flex;
    flex-direction: column;
}
.main-title{
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    margin: 0 auto;
    font-size: 2rem;
}
.main-subtitle{
    font-weight: lighter;
    font-family: 'Courier New', Courier, monospace;
    margin: 0 auto;
    font-size: 1rem;
}
.circle1{
    margin: 2rem auto;
    padding: 1rem;
    overflow: hidden;
    align-items: start;
    justify-content: center;
    font-weight: bold;
    background: linear-gradient(45deg, black, #7d7dfc);
    width: 2rem;
    height: 2rem;
    border-radius: 9999999px;
}
.img{
    width: 25vw;
    height: 25vw;
    filter: invert(1);
}

.glassmorfism{
    display: grid;
    grid-template-areas:
    "title title"
    "content1 content2";
    grid-template-columns: 50% 50%;
    grid-template-rows: 15rem auto;
    justify-content: center;
    margin: 20rem auto 0 auto;
    border: 1px solid #ffffff33;
    border-radius: 15px;
    width: 95%;
    background-color: #7d7dfc00;

}
.glassmorfism-title{
    grid-area: title;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: #fcef7d;*/
    width: 100%;
    height: 15rem;
    padding: 0 28rem;
}
.glassmorfism-title-img1{
    width: 15rem;
    height: 15rem;
}
.glassmorfism-title h2{
    /*background-color: #1010c0;*/
    font-size: 3rem;
    margin: 0 auto;
}
.glassmorfism-title-img2{
    width: 15rem;
    height: 15rem;
    transform: scaleX(-1);
}
.glassmorfism-content1{
    grid-area: content1;
    padding: 8rem 2rem 4rem 10rem;
    background-color: #0000df00;
}
.glassmorfism-content2{
    grid-area: content2;
    padding: 4rem;
    background-color: rgba(137, 43, 226, 0);
}
.footer{
    background-color: burlywood;
    background: linear-gradient(black, #7d7dfc) ;
    padding: 10rem;
}