:root {
    --color-background: #000;
    --color-primary: #353535;
    --color-secondary: #232323;
    --color-accent: #464646;
    --color-text: #f5f5f5;
    --color-text-low:#f5f5f531;
    --color-subtitle: #7a7a7a;
}
::-webkit-scrollbar {
    width: 0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background);
    color: var(--color-text);
    overflow-x: hidden;
    padding: 0 1rem;
}

.header{
    background-color: var(--color-background);
    max-height: 3rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.indice{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 255, 255, 0)  ;
    width: 100%;
    padding: 2px;
    gap: 1rem;
    margin-top: 0.5rem;
}
    .logo{
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    justify-self: center;
    background-color: rgba(36, 243, 36, 0);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 10px;
    text-align: center;
}
    h1{
        display: inline;
        text-align: center;
        justify-self: center;
    }
    .logo-img{
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 10px;
        border: 1px solid #ffffff0c;
    }
    .indice-menu-one{
        display: flex;
        justify-content: center;
        justify-items: center;
        background-color: rgba(122, 36, 243, 0);
        width: 100%;
}
    .indice-menu-two{
        display: flex;
        justify-content: center;
        justify-items: center;
        background-color: rgba(243, 36, 36, 0);
        width: 100%;
}
    .indice-menu-three{
        display: flex;
        justify-content: center;
        justify-items: center;
        background-color: rgba(243, 129, 36, 0);
        width: 100%;
}
    .indice-menu-four{
        display: flex;
        justify-content: center;
        justify-items: center;
        background-color: rgba(243, 129, 36, 0);
        width: 100%;
}
.header-links{
    background-color: #35353500;
    padding: 0.6rem 10rem;
    margin: auto;
    color: var(--color-text-low);
    border-radius: 10px;
    border: 1px solid #ffffff0c;
}
.header-links:hover{
    background:linear-gradient(45deg, var(--color-text-low), rgb(0, 0, 0), var(--color-text-low));
    color: var(--color-text);
    transition: 0.3s;
}

.main{
    display: grid;
    grid-template-columns: repeat (6, 1fr);
    grid-template-rows: repeat (5, 1fr);
    grid-template-areas: "section-one section-two section-three section-five section-five section-five"
                         "section-one section-two section-three section-five section-five section-five"
                         "section-four section-four section-four section-five section-five section-five"
                         "section-four section-four section-four section-five section-five section-five"
                         "section-four section-four section-four section-five section-five section-five";
    gap: 5px;
    margin-top: 3.5rem;
    background-color: rgba(0, 255, 255, 0) ;
    width: 98vw;
    height: 93vh;
    border:1px solid #ffffff0c;
    border-radius: 10px;
    padding: 1rem;
    overflow-y: hidden;
}

.about-img{
    width: 10rem;
}

.main-section-one{
    grid-area: section-one;
    padding: 2rem;
    background-color: rgba(65, 105, 225, 0);
    border: 1px solid #ffffff0c;
    border-radius: 10px;
}
.main-section-two{
    grid-area: section-two;
    padding: 2rem;
    background-color: rgba(255, 99, 71, 0);
    border: 1px solid #ffffff0c;
    border-radius: 10px;
}
.main-section-three{
    grid-area: section-three;
    padding: 2rem;
    background-color: rgba(255, 166, 0, 0);
    border: 1px solid #ffffff0c;
    border-radius: 10px;
}
.main-section-four{
    grid-area: section-four;
    padding: 2rem;
    background-color: rgba(153, 205, 50, 0);
    border: 1px solid #ffffff0c;
    border-radius: 10px;
}
.main-section-five{
    grid-area: section-five;
    padding: 2rem 4rem;
    background-color: rgba(255, 20, 145, 0);
    border: 1px solid #ffffff0c;
    border-radius: 10px;
    overflow-y: scroll;
}
.main-section-five h2{
    text-align: center;
}
.landingphoto{
    width: 70%;
    border-radius: 10px;
    margin: auto;
    display: block;
    filter: grayscale(100%);
}
.landingphoto:hover{
    filter: grayscale(0%);
    transition: 0.1s;
}